<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>用户主体</title>
 <link rel="stylesheet" href="../static/layui/css/layui.css">
  <script src="../static/layui/layui.js"></script>
  <script src="../static/jquery-1.11.0.min.js"></script>
</head>
<!--
	这是用户主页面

		在登入管理员该主页时，需要就uname返回，使用了el表达式
										进行uname的数据填充
	要求登录时，需要将用户ID，昵称加入session中
			
	如下，点击左侧面板的四个分面板，会
	会通过jq，在内容主体iframe,上展示相应页面
-->
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">性感跑腿，在线解忧</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
     
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">     	
      	<span style="font-family: '楷体'; font-size: 18px;" >欢迎你，上帝
      			 <span  style="font-family: '楷体'; font-size: 20px;color: #009F95;" id="uname" th:text="${user.uname}">${uname}</span>
      	</span>
      </li>
      <li class="layui-nav-item" ><a href="/" id="logoutx" >退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed"><a href="/UserTasknewest.html">最新任务</a> </li>
        <li class="layui-nav-item"><a href="/User/UserTaskstart.html">发布任务</a> </li>
        <li class="layui-nav-item"><a href="User/UserTasklist.html">查看任务</a></li>
		<li class="layui-nav-item"><a href="User/Usermessangelist.html">信息箱</a></li>
       
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
   <iframe id="ifa" frameborder="0" height="100%" width="100%" src="User/welcome.html"> </iframe>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
		
  </div>
</div>

<script>

//JavaScript代码区域
	layui.use('element', function(){
  var element = layui.element;
  
});
//iframe页面跳转
 $(document).ready(function(){
       $("li>a").click(function (e) {
            e.preventDefault();
            $("#ifa").attr("src",$(this).attr("href"));
        });
   });

$("#logoutx").click(function () {
  window.location.href="/";
})
</script>
</body>
</html>