<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>管理员主体</title>
 <link rel="stylesheet" href="../static/layui/css/layui.css">
  <script src="../static/layui/layui.js"></script>
  <script src="../static/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="../static/resove.js" ></script>
  <!--自制获取url插件-->
  <style>
  	.bh{
  		background-color: #FD482C;
  	}
  </style>
</head>
<!--
	管理员登录主体页面
		在登入管理员该主页时，需要就aname返回，使用了el表达式
										进行aname的数据填充
	要求登录时，需要将用户ID，昵称加入session中
			
	如下，点击左侧面板的四个分面板，会
	会通过jq，在内容主体iframe,上展示相应页面
	
	当点击系统刷新时
	在点击系统刷新时，象后台需要进行一些数据库数据的更新{
			1.当任务状态为已完成，如果完成时间与现在间隔有3天，而且这个任务的异常状态为无，或者投诉关闭的话
			就可以将任务状态改为结束，意为不可以在进行改变，评价也不可以了
			否则不改变状态
			2.就是对是否可以充能的时间的权限进行判断，如果置零时间与现在时间为3天，就表示可以进行充能了，将充能权限改变为满足
		}
-->
<body class="layui-layout-body">
	
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">跑腿事业，奉献你我</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
     
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">     	
      	<span style="font-family: '楷体'; font-size: 18px;" >欢迎你，管理员
      			 <span  style="font-family: '楷体'; font-size: 20px;color: #009F95;" id="aname" th:text="${user.uname}">${aname}</span>
      	</span>
      </li>
        
      <li class="layui-nav-item"><a href="/" id="logoutx">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed"><a href="Admin/AdmainAuditlist.html">审核管理</a> </li>
        <li class="layui-nav-item"><a href="Admin/AdmainMessangelist.html" >投诉管理</a> </li>
				<li class="layui-nav-item"><a href="Admin/AdmainGrade.html">信誉分管理</a></li>
				<li class="layui-nav-item"><a href="Admin/AdmainManage.html">管理员管理</a></li>
        <li class="layui-nav-item">       	       	        	
        	<a>
        		<div class="bh" id="xtsx" style="width: 65px; border-radius: 5px;">系统刷新</div>
        	</a>
        	</li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
   <iframe id="ifa" frameborder="0" height="100%" width="100%" src="Admin/welcome.html"> </iframe>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
		
  </div>

</div>

<script>

//JavaScript代码区域
	layui.use('element', function(){
  var element = layui.element;
  
});
//iframe页面跳转
 $(document).ready(function(){
 			

       $("li>a").click(function (e) {
            e.preventDefault();
            $("#ifa").attr("src",$(this).attr("href"));
        });
   });

   $("#xtsx").click(function(){
   		//发出系统刷新的命令，要求后台进行系统刷新

       location.reload();

   		// $.ajax({
   		// 		type:"post",
	    	// 	url:"${pageContext.request.contextPath}/admainfull",
	    	// 	async:true,
	    	// 	data:{
	    	// 		"flag":1
	    	//
	    	// 	},
	    	// 	dataType:"json",
	    	// 	success:function(){
	    	// 		    alert("系统成功刷新,祝您武运昌隆");
	    	// 		}
	    	//
   		// })
   	
   })
$("#logoutx").click(function () {
    window.location.href="/";
})
   
</script>
</body>
</html>